In [ ]:
#blank
# column: cancellation_reason_text VARCHAR 255



# def cancellation_reason_text():
#     return fake.text(255)

# print('Cancellation reason: ' ,cancellation_reason_text())

# # credentials expire at  datetime

# def credentials_expire_at():
#     return fake.date_between(start_date="+1y", end_date="+3y")

# print('credentials expire at', credentials_expire_at())

# ----------------------

In [1]:
from faker import Faker
from random import randint
import pandas as pd
import random
import numpy as np
from random import choices
fake = Faker() 
number_of_rows = 10

In [6]:
land_line = []
for x in range(number_of_rows):
    l_l = random.randint(1, 100000000000000)
    land_line.append(l_l)

df = pd.DataFrame(land_line, columns=['land_line'])

df

        land_line
0  87288222203651
1  64056764919265
2  99971087674481
3  71945343626597
4  40733217579866
5  67787304551597
6  87217010438449
7  23053660193262
8  56500008294694
9  60035316277603

In [8]:
## is counselor displayed as staff tinyint = 0
##
# is_counselor_displayed_as_staff = 0
# df = df.assign()

# ##
# ## is practicum student tinyint = 0
# ##
# is_in_practicum_student = 0
# df = df.assign(is_in_practicum_student=is_in_practicum_student)

# ##
# ## is in peer support tinyint = 0
# ##
# is_in_peer_support = 0
# df = df.assign(is_in_peer_support=is_in_peer_support)

# ##
# ## last seen online at datetime
# ##
# last_seen_online = []
# for x in range (number_of_rows):
#     fake = Faker()
#     l_s_o = fake.time_object()
#     last_seen_online.append(l_s_o)

# df = df.assign(last_seen_online=last_seen_online)
# #df = pd.DataFrame(last_seen_online, columns=["last seen online"])

  last seen online
0         18:39:01
1         07:16:02
2         07:24:31
3         01:36:14
4         02:38:07
5         07:44:41
6         07:54:10
7         11:59:04
8         07:54:34
9         22:01:44